{% extends "base.html" %}
{% load static from staticfiles %}
{% load smarturlize %}

{% block content %}
	<h2><a href="/hello/question/{{question.id}}/">{{question.text}}</a></h2></p>
	<p>Modified: {{question.modtime}}</p>
	<p>Created: {{question.createtime}}</p>
	<p>Author: {{question.author}}</p>
	<p>Tags:
		{% for tag in question.tags.all %}
			<a href="/hello/tag_questions/{{tag.id}}">{{tag.text}}</a>
		{% endfor %}
	</p>
	<p>Vote <a href="/hello/vote/{{question.id}}/1"><img src="{% static "images/up.png" %}" width=15 /></a>
	        <a href="/hello/vote/{{question.id}}/-1"><img src="{% static "images/down.png" %}" width=15 /></a>
			{{question.total_votes}}
	</p>
	
	{% ifequal question.author user %}
		<p><a href="/hello/edit_question/{{question.id}}/">Edit Question </a><a href="/hello/delete_question/{{question.id}}/">Delete Question</a></p>
	{% endifequal %}
	
	{% for answer in answers %}
		{{ answer.text|smarturlize }}
		<p>Modified: {{answer.modtime}}</p>
		<p>Created: {{answer.createtime}}</p>
		<p>Author: {{answer.author}}</p>
		<p>Vote <a href="/hello/vote/{{question.id}}/{{answer.id}}/1"><img src="{% static "images/up.png" %}" width=15 /></a>
	                <a href="/hello/vote/{{question.id}}/{{answer.id}}/-1"><img src="{% static "images/down.png" %}" width=15 /></a>
					{{answer.total_votes}}
	    </p>
		{% ifequal answer.author user %}
			<p><a href="/hello/edit_answer/{{answer.id}}/">Edit Answer</a> <a href="/hello/delete_answer/{{answer.id}}/">Delete Answer</a></p>
		{% endifequal %}
	{% endfor %}
	
	<a href="/hello/create_answer/{{question.id}}">Answer</a>
{% endblock %}