{% load static from staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Question & Answers{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href='{% static "css/default.css" %}'>
		{% block headlinks %}{% endblock %}
	</head>
	
	<body>
		<div id="page">
			<div id="sidebar">
				{% block sidebar %}
					<ul>
						<li><a href="/hello/all_questions">Questions</a></li>
						<li><a href="/hello/all_uploads">Uploads</a></li>
					</ul>
					{% if user.is_authenticated %}
						<ul>
							<li><a href="/hello/create_question">Create Question</a></li>
							<li><a href="/hello/upload">File Upload</a></li>
							<li><a href="/accounts/logout">Logout</a></li>
							<br>
                            <p>{{user.username}}</p>
						</ul>
					{% else %}
						<ul>
							<li><a href="/accounts/login">Login</a></li>
						</ul>
					{% endif %}
				{% endblock %}
			</div>
		
			<div id="content">
				{% block content %}
					Base Content
				{% endblock %}
			</div>
		</div>
	</body>
</html>
