body{
	text-align: center;
}

#page{
	width: 900px;
	text-align: left;
	margin: 10px auto 10px auto;
}

#content{
	float: left;
	width: 650px;
	padding: 10px;
}

#sidebar {
	float: left;
	width: 150px;
	background-color: #C8EEC6;
}

p {
	margin:2px 2px 2px 2px
}